body {
  margin: 0;
  padding: 0; }

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: gray; }

.row::after {
  content: '';
  clear: both;
  display: block; }

.single {
  width: 1440px; }

.row.singles::after {
  content: '';
  display: block;
  clear: both; }

.row.singles .single:nth-of-type(1n) {
  margin-right: 0; }

.row.singles .single:nth-of-type(1n+1) {
  clear: both; }

@media only screen and (max-width: 1440px) {
  .container {
    width: 1440px; } }

.half {
  width: 710px; }

.row.halfs::after {
  content: '';
  display: block;
  clear: both; }

.row.halfs .half:nth-of-type(2n) {
  margin-right: 0; }

.row.halfs .half:nth-of-type(2n+1) {
  clear: both; }

@media only screen and (max-width: 720px) {
  .container {
    width: 720px; } }

.third {
  width: 466.66667px; }

.row.thirds::after {
  content: '';
  display: block;
  clear: both; }

.row.thirds .third:nth-of-type(3n) {
  margin-right: 0; }

.row.thirds .third:nth-of-type(3n+1) {
  clear: both; }

@media only screen and (max-width: 480px) {
  .container {
    width: 480px; } }

.fourth {
  width: 345px; }

.row.fourths::after {
  content: '';
  display: block;
  clear: both; }

.row.fourths .fourth:nth-of-type(4n) {
  margin-right: 0; }

.row.fourths .fourth:nth-of-type(4n+1) {
  clear: both; }

@media only screen and (max-width: 360px) {
  .container {
    width: 360px; } }

.fifth {
  width: 272px; }

.row.fifths::after {
  content: '';
  display: block;
  clear: both; }

.row.fifths .fifth:nth-of-type(5n) {
  margin-right: 0; }

.row.fifths .fifth:nth-of-type(5n+1) {
  clear: both; }

@media only screen and (max-width: 288px) {
  .container {
    width: 288px; } }

.sixth {
  width: 223.33333px; }

.row.sixths::after {
  content: '';
  display: block;
  clear: both; }

.row.sixths .sixth:nth-of-type(6n) {
  margin-right: 0; }

.row.sixths .sixth:nth-of-type(6n+1) {
  clear: both; }

@media only screen and (max-width: 240px) {
  .container {
    width: 240px; } }

.seventh {
  width: 188.57143px; }

.row.sevenths::after {
  content: '';
  display: block;
  clear: both; }

.row.sevenths .seventh:nth-of-type(7n) {
  margin-right: 0; }

.row.sevenths .seventh:nth-of-type(7n+1) {
  clear: both; }

@media only screen and (max-width: 205.71429px) {
  .container {
    width: 205.71429px; } }

.eight {
  width: 162.5px; }

.row.eights::after {
  content: '';
  display: block;
  clear: both; }

.row.eights .eight:nth-of-type(8n) {
  margin-right: 0; }

.row.eights .eight:nth-of-type(8n+1) {
  clear: both; }

@media only screen and (max-width: 180px) {
  .container {
    width: 180px; } }

.ninght {
  width: 142.22222px; }

.row.ninghts::after {
  content: '';
  display: block;
  clear: both; }

.row.ninghts .ninght:nth-of-type(9n) {
  margin-right: 0; }

.row.ninghts .ninght:nth-of-type(9n+1) {
  clear: both; }

@media only screen and (max-width: 160px) {
  .container {
    width: 160px; } }

.tenth {
  width: 126px; }

.row.tenths::after {
  content: '';
  display: block;
  clear: both; }

.row.tenths .tenth:nth-of-type(10n) {
  margin-right: 0; }

.row.tenths .tenth:nth-of-type(10n+1) {
  clear: both; }

@media only screen and (max-width: 144px) {
  .container {
    width: 144px; } }

.eleventh {
  width: 112.72727px; }

.row.elevenths::after {
  content: '';
  display: block;
  clear: both; }

.row.elevenths .eleventh:nth-of-type(11n) {
  margin-right: 0; }

.row.elevenths .eleventh:nth-of-type(11n+1) {
  clear: both; }

@media only screen and (max-width: 130.90909px) {
  .container {
    width: 130.90909px; } }

.twelveth {
  width: 101.66667px; }

.row.twelveths::after {
  content: '';
  display: block;
  clear: both; }

.row.twelveths .twelveth:nth-of-type(12n) {
  margin-right: 0; }

.row.twelveths .twelveth:nth-of-type(12n+1) {
  clear: both; }

@media only screen and (max-width: 120px) {
  .container {
    width: 120px; } }

.column {
  height: 300px;
  background-color: yellow;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 100%; }
