//Variables
$container_max_width: 1440;
$margin: 20;

$class_names: 'single', 'half', 'third', 'fourth', 'fifth', 'sixth', 'seventh', 'eight', 'ninght', 'tenth', 'eleventh', 'twelveth';

//Formulas
$quad: ($container_max_width - $margin*3)/4;

//CSS
body {
  margin:0;
  padding:0;
}

.container {
  max-width:$container_max_width+px;
  width:100%;
  margin:0 auto;
  background-color:gray;
}

.row::after{
  content:'';
  clear:both;
  display:block;
}

//-Loops
$i: 1;
@each $class_name in $class_names {
  //Vars
  $width: ($container_max_width - $margin*($i - 1))/$i;
  $marginless_width: $container_max_width/$i;

  //Classes
  .#{$class_name} {
    width: $width+px;
  }

  //Rows
  .row.#{$class_name}s {
    &::after {
      content: '';
      display:block;
      clear:both;
    }

      //Margin removal
      .#{$class_name}:nth-of-type(#{$i}n){
        margin-right:0;
      }

      //Clear
      .#{$class_name}:nth-of-type(#{$i}n+1){
        clear:both;
      }
    }

  //Media queries
  @media only screen and (max-width:$marginless_width+px) {
    .container {
      width: $marginless_width+px;
    }
  }
  $i: $i+1;
}
.column {
  height:300px;
  background-color:yellow;
  float:left;
  margin-right: $margin+px;
  margin-bottom:20px;
  max-width:100%;
}
